<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <script src="{{ url_for('static', filename='scripts/footer.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
    
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Common header content goes here -->
    <header class="header">
        <div class="container">
          <div class="logo">
            <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
          </div>
          <div class="menu-toggle">
            <i class="material-icons">menu</i>
          </div>
          <nav class="show-menu">
            <ul>
              <li><a href="{{ url_for('product_routes.product_list') }}">Home</a></li>
              <li>
                <form action="/search" method="GET">
                  <input type="search" name="query" placeholder="Search the grocery shop...">
                  <button type="submit"><i class="material-icons">search</i></button>
                </form>
              </li>
              <a href="{{ url_for('product_routes.add_product') }}">
                <button>Add New Product</button>
              </a>
            </ul>
          </nav>
          <div class="user">
            <div class="profile">
              <a href="{{ url_for('auth_routes.profile') }}"><i class="material-icons icon-large">account_circle</i>Account</a>
            </div>
          </div>
        </div>
      </header>
      
    <!-- Core Block content starts here -->
    {% block content %}
    {% endblock %}
    <!-- Core Block content ends here -->

    <!-- Common footer content goes here -->
<footer class="footer">
  <div class="logo">
    <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
  </div>
</footer>

</body>
</html>
