<!-- cart.html -->
{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cart.css') }}">
{% endblock %}

{% block title %}
    Fresh Basket: Cart
{% endblock %}

{% block content %}
    <h1>Cart</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart_products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td><b>{{ product[1] }}</b></td>
                <td>{{ product[2] }}</td>
                <td>Ksh {{ product[3] }}</td>
                <td><img src="{{ url_for('static', filename=product[4]) }}" alt="{{ product[4] }}"></td>
                <td>{{ product[5] }}</td>
                <td>
                    <form action="{{ url_for('remove_from_cart.remove_from_cart') }}" method="POST">
                        <input type="hidden" name="product_id" value="{{ product[0] }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="total-price">Total Price: Ksh {{ total_price }}</p>

    <div class="buttons">
        <form action="{{ url_for('shipping.shipping') }}" method="GET">
            <button type="submit">Proceed to Checkout</button>
        </form>
        <form action="{{ url_for('products.products') }}">
            <button type="submit">Continue Shopping</button>
        </form>
    </div>
{% endblock %}
