{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/imageSlider.js') }}"></script>
{% endblock %}

{% block title %}
    Grocify Home
{% endblock %}

{% block content %}

<section>
    <div class="slideshow-container">
        <img class="slides" src="{{ url_for('static', filename='images/banner1.jpg') }}">
        <img class="slides" src="{{ url_for('static', filename='images/banner2.jpg') }}">
        <img class="slides" src="{{ url_for('static', filename='images/banner3.jpg') }}">
        <img class="slides" src="{{ url_for('static', filename='images/banner4.jpg') }}">
        <img class="slides" src="{{ url_for('static', filename='images/banner5.jpg') }}">
        <img class="slides" src="{{ url_for('static', filename='images/banner6.jpg') }}">
    </div>
</section>
<section class="features">
    <div class="features-containers">
        <img src="{{ url_for('static', filename='images/features1.jpg') }}">
        <p>Lowest prices on groceries, guaranteed. Wide selection of fresh produce, meat, seafood, dairy, baked goods, snacks. Shop today & save!</p>
    </div>
    <div class="features-containers" >
        <img src="{{ url_for('static', filename='images/features2.jpg') }}">
        <p>Fresh groceries delivered to your door. Save time and money with Grocify grocery shopping.</p>
    </div>
    <div class="features-containers">
        <img src="{{ url_for('static', filename='images/features3.jpg') }}">
        <p>Shop online and pay when your groceries arrive. Convenient and secure payment option.</p>
    </div>
</section>
<div class="divider">Grocify</div>

{% endblock %}
