{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/material-icons.min.js"></script>
{% endblock %}

{% block title %}
    Grocify: Profile
{% endblock %}

{% block content %}

<h1>Profile</h1>
<div class="profile-container">
    <span class="material-icons icon-large">account_circle</span>
    <h2>Welcome, {{ user[1] }}!</h2>
    <p>Email: {{ user[2] }}</p>
    <p>Phone: {{ user[4] }}</p>
    {% for ship in shipping_info %}
      <h2>Shipping Information</h2>
      <p>Full Name: {{ ship[2] }}</p>
      <p>Street Address: {{ ship[3] }}</p>
      <p>City: {{ ship[4] }}</p>
      <p>State/Province: {{ ship[5] }}</p>
      <p>Postal Code: {{ ship[6] }}</p>
      <p>Country: {{ ship[7] }}</p>
    {% endfor %}
    <form action="/signout">
      <button>SignOut</button>
    </form>
</div>

{% endblock %}
