<!-- cart.html -->
{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/recipe.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/recipe.js') }}"></script>
{% endblock %}

{% block title %}
    Grocify: Recipe
{% endblock %}

{% block content %}

<section class="recipe-details">
    <h2>Recipe Details</h2>
    <div id="recipe-container"></div>
</section>

{% endblock %}
