<!-- cart.html -->
{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/videos.css') }}">
{% endblock %}

{% block title %}
    Grocify: Videos
{% endblock %}

{% block content %}

<h1>Cooking Videos</h1>
{% for video in videos %}
    <div class="video-container">
        <h2>{{ video.title }}</h2>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{% endfor %}

{% endblock %}
